@use './_partials/variables' as *;
@use './_partials/mixins' as *; 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, button, a{
    font-family: 'Montserrat'
}

a{
    color: #000;
    text-decoration: none;
}

.bg-main-red{
    background-color: $mainRed;
}

.main-button{
    @include button-submit($mainRed, $mainGreen, #fff);
}

.show-button{
    @include button-link($mainGreen, $mainGreenHover, #fff);
}

.edit-button{
    @include button-link($mainYellow, $mainYellowHover, #fff);
}

.delete-button, .cancel-edit-button{
    @include button-link($mainRed, $mainRedHover, #fff);
}

.btn-negative{
    @include button-negative(#fff, $mainWhiteHover, $mainRed);
}

.save-edit-button{
    @include button-link(#147e14, #147e14bb, #fff);
}


