@use "./_partials/variables" as *;
@use "./_partials/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
    font-family: "Montserrat";
}

a {
    color: #000;
    text-decoration: none;
}

hr {
    color: $mainRed;
    border-width: 5px;
    margin: 30px 0px;
    opacity: 1;
}

.bg-main-red {
    background-color: $mainRed;
}

.bg-main-green {
    background-color: $mainGreen;
}

.border-red {
    border: 2px solid $mainRed;
    border-radius: 20px;
}

.txt-main-red {
    color: $mainRed;
}

.z-10 {
    z-index: 10;
}

.main-button {
    @include button-submit($mainRed, $mainGreen, #fff);
}

.show-button {
    @include button-link($mainGreen, $mainGreenHover, #fff);
}

.edit-button {
    @include button-link($mainYellow, $mainYellowHover, #fff);
}

.secondary-button {
    @include button-link($mainGrey, $mainGreyHover, #fff);
}

.delete-button,
.cancel-edit-button {
    @include button-link($mainRed, $mainRedHover, #fff);
}

.btn-negative {
    @include button-negative(#fff, $mainWhiteHover, $mainRed);
}

.save-edit-button {
    @include button-link(#147e14, #147e14bb, #fff);
}

.btn-blue {
    @include button-link($mainBlue, $mainBlueHover, #fff);
}

.not-button {
    color: red;
    background-color: transparent;
    border: none;
}

input.form-check-inline {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin: 10px;
}

input.form-check-inline:checked {
    accent-color: $mainRed;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;

    tbody tr {
        height: 120px;
    }

    tr:nth-child(2n + 1) {
        background-color: #c5323771;
    }

    th,
    td {
        padding: 10px;
        border: 1px solid $mainGrey;
    }

    td {
        vertical-align: middle;
        height: 100%;
    }

    th {
        background: $mainRed;
        color: #fff;
        cursor: pointer;
        vertical-align: top;
    }

    .column-filter {
        display: block;
        width: 100%;
        margin-top: 5px;
        font-size: 0.8em;
    }

    .actions {
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;

        button {
            cursor: pointer;
        }
    }
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;

    button {
        margin: 0 8px;
        @include button-link($mainRed, $mainRedHover, #fff);
    }
}

.modal-bg {
    background-color: $mainBgTransparent;

    .modal-header {
        background-color: $mainRed;
        color: #fff;
    }
}

.custom-switch {
    width: 3.5rem;
    height: 1.8rem;
    cursor: pointer;
}

.custom-switch:checked {
    background-color: $mainRed;
    border-color: $mainRed;
}

.custom-switch:focus {
    border-color: $mainRed;
    box-shadow: 0 0 0 0.25rem rgba(197, 50, 56, 0.25);
}
