$mainRed: #c53238;
$mainRedOpacity: #c5323775;
$mainRedHover: #c53237c1;
$mainYellow: #ffcc00;
$mainYellowHover: #ffcc00bc;
$mainGreen: #0E8984;
$mainGreenHover: #0e8985c2;
$mainBlue: #2360d0;
$mainBlueHover: #2360d0c8;
$mainGrey: rgb(174, 174, 174);
$mainGreyHover: rgb(140, 140, 140);
$mainWhiteHover: rgb(228, 228, 228);
$mainBgTransparent: #c5323732;
$mainBlack: #000;
$mainBlackHover: #111111;
